<nav class="post-nav">
  {% if page.previous %}
  <a class="post-nav-item post-nav-prev" href="{{ page.previous | relative_url }}">
    <div class="nav-arrow">Previous</div>
    <span class="post-title">{%- if page.previous.locked -%}🔒{%- endif -%}{{ page.previous.title }}</span>
  </a>
  {% endif %} {% if page.next %}
  <a class="post-nav-item post-nav-next" href="{{ page.next | relative_url }}">
    <div class="nav-arrow">Next</div>
    <span class="post-title">{%- if page.next.locked -%}🔒{%- endif -%}{{ page.next.title }}</span>
  </a>
  {% endif %}
</nav>